@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
body{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
}

.butn_one{
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.bttn_two{
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

